h1 {
    display: flex;
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;

}

table {
    border-collapse: collapse;
    background-color: lightblue;
    color: black;
}

td {
    border: solid;
    padding: 5px;
}

th {
    border: solid;
    padding: 5px;
}

tr {
    border: solid;
    padding: 5px;
}

#form {
    margin: 50px;
}